<div class="push"><!--//--></div>
<footer>
    <div class="container">
      <p>
        <a href="http://www.kb.dk" class="kb"></a>
        <a href="http://www.srku.dk" class="srku"></a>
      </p>
        <%= raw t('dias.footer') %>


    </div>
</footer>