<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
    <div id="facets" class="facets" >
      <div id="facets-collapse"  style="display:none">

        <%= render_facet_partials %>
      </div>
    </div>


<% end %>





