
<div id="sidebar" class="span12">
  <%= render :partial=>'facets' %>
</div><!--/well -->


<div class="hero-unit">
  <h1><%= t('dias.views.kontakt.overskrift') %></h1>
  <p class="lead"><%=raw t('dias.views.kontakt.text') %></p>

</div>
