
    <% if has_user_authentication_provider? %>
    <li class="util-links-login" id="userlogin">
          <% if current_user %>
              <%= link_to ' ' + t('blacklight.header_links.logout'), destroy_user_session_path, :class => 'icon-off',
                          :rel => 'tooltip', "data-placement" => "bottom",
                          "data-placement" => "bottom",
                          :title =>  t('blacklight.header_links.logout') + ' ' + current_user.name   %>


          <% else %>
              <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
          <% end %>

    </li>
    <% end %>

