<div id="select-item-box">
  <a class="add-new-asset" href="#">Tilføj din opgave</a>
  <ul id="select-item-list">
    <li>
      <%= link_to_create_asset 'Tilføj din opgave', 'paper' %>
    </li>
  </ul>
</div>